/* Stylings for anything added to the page
   (controls, buttons etc.) */

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#aasm-controls, #aasm-controls-2 {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#aasm-controls-2 {
  display: none;
}

#btn-update {
  display: none;
}

.aasm-button {
	padding: 0.35rem 2rem 0.2rem 2rem;
	margin-right: 1rem;
	border-radius: 0.4rem;
	text-align: center;
	transition: all 0.2s;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
    border: 2px solid grey;
    background: none;
}

.aasm-button:hover {
  color: white;
  background-color: grey;
}

.aasm-button-active {
  background-color: #c8c8c8;
  color: #4d4d4d;
}

#colour-picker {
    margin-right: 1rem;
}

.aasm-flex-item {
  display: flex;
  margin: 0.25rem 0 0.25rem 1rem;
}

#aasm-controls .slider,
#aasm-controls .input-text {
  width: 27rem;
}

#aasm-controls .input-text {
  border-radius: 5px;
  border: 1px solid darkgrey;
  background-color: lightgray;
  height: 2rem;
}

#aasm-controls .slider-label {
	text-align: center;
	padding-left: 1rem;
  padding-top: 0.3rem;
	font-size: 1.2rem;
	letter-spacing: 0.3rem;
	font-family: "Lucida Console", "Courier New", monospace;
}

.aasm-watermark {
    position: absolute;
    left: 44rem;
    top: 4.3rem;
    font-size: 3.5rem;
    opacity: 0.2;
    font-family: 'Caveat', cursive;
}

/* Styles for the game */

#gameboard {
  display: none;
}

#gameboard canvas {
  cursor: crosshair;
}

#score {
  position: fixed;
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  user-select: none;
}

#game-over-modal {
  position: relative;
  display: none;
  cursor: pointer;
}
#game-over-modal div,
#game-over-modal h1,
#game-over-modal p {
  margin: 0;
}

#game-over-modal div {
  background-color: white;
  text-align: center;
  margin: 0 0 0 0;
  width: 30rem;
  padding: 2rem;
  border-radius: 30% 5%;
}